<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjy.dandelion.dao.mapper.OrderMapper">
  <resultMap id="ListMap" type="com.zjy.dandelion.entity.Order" >
   </resultMap>

  <resultMap id="DetailMap" type="com.zjy.dandelion.entity.Order" extends="ListMap"></resultMap>
  
  <select id="selectByPrimaryKey" resultMap="DetailMap">
  	select * from `order` where id=#{id}
  </select>
  
  <select id="findByMap"  resultMap="ListMap">
  	select * from `order`
  	<where>
  		<if test="orderNumber != null">
  			and orderNumber = #{orderNumber}
  		</if>
  		<if test="mobile != null">
  			and mobile =#{mobile}
  		</if>
  		<if test="userName != null">
  			and userName like '%${userName}%'
  		</if>
  		<if test="status != null">
  			and status = #{status}
  		</if>
  	</where>
  	order by createDate desc
  	<if test="startNumber != null and pageSize != null ">
		LIMIT #{startNumber} , #{pageSize}
    </if>
  </select>
  
  <select id="countByMap" resultType="Integer">
  	select count(id) from `order`
  	<where>
		<if test="orderNumber != null">
			and orderNumber = #{orderNumber}
		</if>
		<if test="mobile != null">
			and mobile =#{mobile}
		</if>
		<if test="userName != null">
			and userName like '%${userName}%'
		</if>
		<if test="status != null">
			and status = #{status}
		</if>
  	</where>
  	order by createDate
  </select>

  <select id="statOrder" resultType="map">
	select IFNULL(sum(o.amount), 0) as `totalAmount`,
		count(id) as `totalCount`,
		IFNULL(sum(IF(o.`status` ='PAID',o.amount,0)), 0) as paidAmount ,
		IFNULL(sum(IF(o.`status` ='UNPAY',o.amount,0)), 0) as unpayAmount ,
		IFNULL(sum(IF(o.`status` ='PAID' ,1,0)), 0) as paidCount,
		IFNULL(sum(IF(o.`status` ='UNPAY' ,1,0)), 0) as unpayCount
	from `order` o
  </select>

</mapper>
