<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjy.dandelion.dao.mapper.ProductImgMapper">
  <resultMap id="ListMap" type="com.zjy.dandelion.entity.ProductImg" >
  </resultMap>
  
  <resultMap id="DetailMap" type="com.zjy.dandelion.entity.ProductImg" extends="ListMap"></resultMap>
  
  <select id="selectByPrimaryKey" resultMap="DetailMap">
  	select * from `product_img` where id=#{id}
  </select>

  <select id="findByProductCode" resultMap="ListMap">
    select * from `product_img` where productCode = #{productCode}
  </select>

  <select id="findSmallByProductCode" resultMap="DetailMap">
    select * from `product_img` where productCode = #{productCode} AND type='SMALL'
  </select>
</mapper>